:root {
  font-family: Lexend, system-ui, Avenir, Helvetica, Arial, sans-serif;

  --primary-colour: #242424;
  --secondary-colour: #ccb37c;
  --red-text: #b0413e;
  --white-text: rgba(255, 255, 255, 0.87);

  background-color: var(--primary-colour);
  color: var(--red-text);
}

body {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  max-width: 1280px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
